.header {
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.8),
      rgb(0 0 0 / 0.7)
    ),
    url(../public/img/header.jpg);
  padding: 5rem 0;
  background-size: cover;
  background-position: center;
}
.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.barra img {
  cursor: pointer;
}
@media (min-width: 768px) {
  .barra {
    flex-direction: row;
    justify-content: space-between;
  }
}
.navegacion {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
}
@media (min-width: 768px) {
  .navegacion {
    margin-top: 0;
  }
}
.navegacion a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem;
  transition-property: background-color;
  transition-duration: 0.3s;
}
.navegacion a:hover {
  background-color: var(--primary);
}
.modelo {
  color: var(--blanco);
  margin-top: 5rem;
  text-align: center;
}
@media (min-width: 768px) {
  .modelo {
    text-align: left;
    width: 50%;
  }
}
.modelo h2 {
  font-size: 5rem;
}
.modelo p:first-of-type {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 2rem;
}
.precio {
  font-size: 6rem;
  color: var(--primary);
  font-weight: 900;
  line-height: 0;
}
.enlace {
  margin-top: 2rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--blanco);
  border: 2px solid var(--primary);
  transition-property: background-color;
  transition-duration: 0.3s;
  padding: 1rem 5rem;
}
.enlace:hover {
  background-color: var(--primary);
  color: var(--blanco);
}
