.header {
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.8),
      rgb(0 0 0 / 0.7)
    ),
    url(../public/img/header.jpg);
  padding: 5rem 0;
  background-size: cover;
  background-position: center;
}
